studio-bridge/n8n-kazm-playlog.json
{
  "name": "KAZM Play Log",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "trig-clock",
      "name": "Every 30 seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://streaming.mellowmountainradio.com/api/nowplaying/mellowmountainradio",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-np",
      "name": "Ask what's on air",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// The station's memory \u2014 every spin, appended once, forever counted.\n// Lives in workflow static data: no credentials, no database.\nconst sd = $getWorkflowStaticData('global');\nsd.days = sd.days || {};\nsd.all = sd.all || {};\nconst np = $input.first().json || {};\nconst song = np.now_playing && np.now_playing.song;\nif (!song || !song.title) { return [{ json: { logged: false, why: 'no song' } }]; }\nconst ti = String(song.title).trim().slice(0, 140);\nconst ar = String(song.artist || '').trim().slice(0, 140);\nif (!ti || ti.toLowerCase() === 'mellow mountain radio') { return [{ json: { logged: false, why: 'station id' } }]; }\nconst key = (ti + '|' + ar).toLowerCase();\nif (sd.lastKey === key) { return [{ json: { logged: false, why: 'same song' } }]; }\nsd.lastKey = key;\nconst now = new Date();\nconst phx = new Date(now.toLocaleString('en-US', { timeZone: 'America/Phoenix' }));\nconst d = phx.getFullYear() + '-' + String(phx.getMonth() + 1).padStart(2, '0') + '-' + String(phx.getDate()).padStart(2, '0');\nconst t = String(phx.getHours()).padStart(2, '0') + ':' + String(phx.getMinutes()).padStart(2, '0');\nconst art = song.art && String(song.art).indexOf('http') === 0 ? String(song.art).slice(0, 300) : '';\nsd.days[d] = sd.days[d] || [];\nsd.days[d].push({ t, ti, ar, art });\nif (sd.days[d].length > 600) sd.days[d] = sd.days[d].slice(-600);\nconst iso = now.toISOString();\nconst rec = sd.all[key] || { ti, ar, n: 0, first: iso };\nrec.n++; rec.last = iso; if (art) rec.art = art;\nsd.all[key] = rec;\nif (!sd.since) sd.since = d;\n// keep 90 days of day-logs; the all-time tallies stay forever\nconst keys = Object.keys(sd.days).sort();\nwhile (keys.length > 90) { delete sd.days[keys.shift()]; }\nreturn [{ json: { logged: true, d, t, ti, ar } }];"
      },
      "id": "code-log",
      "name": "Log the spin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "kazm-playlog",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://mellowmountainradio.com"
        }
      },
      "id": "wh-playlog",
      "name": "Site asks for a day",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        220
      ],
      "webhookId": "kazm-playlog"
    },
    {
      "parameters": {
        "jsCode": "// Which day does the site want? Query a day either side so Phoenix's\n// evening (UTC's next morning) is never dropped at the boundary.\nconst q = $input.first().json.query || {};\nconst phx = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Phoenix' }));\nconst f = (x) => x.getFullYear() + '-' + String(x.getMonth() + 1).padStart(2, '0') + '-' + String(x.getDate()).padStart(2, '0');\nconst today = f(phx);\nlet day = String(q.d || today);\nif (!/^\\d{4}-\\d{2}-\\d{2}$/.test(day)) day = today;\nconst next = new Date(day + 'T12:00:00Z'); next.setUTCDate(next.getUTCDate() + 1);\nconst prev = new Date(day + 'T12:00:00Z'); prev.setUTCDate(prev.getUTCDate() - 1);\nreturn [{ json: { day, today, start: f(prev), end: f(next) } }];"
      },
      "id": "code-playlog",
      "name": "Build the day range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "resp-playlog",
      "name": "Respond with the day",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        220
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "kazm-charts",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://mellowmountainradio.com"
        }
      },
      "id": "wh-charts",
      "name": "Site asks for charts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        440
      ],
      "webhookId": "kazm-charts"
    },
    {
      "parameters": {
        "jsCode": "// The chart week: the last 7 days, straight from the station's records.\nconst phx = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Phoenix' }));\nconst f = (x) => x.getFullYear() + '-' + String(x.getMonth() + 1).padStart(2, '0') + '-' + String(x.getDate()).padStart(2, '0');\nconst end = new Date(phx); end.setDate(end.getDate() + 1);\nconst start = new Date(phx); start.setDate(start.getDate() - 7);\nreturn [{ json: { start: f(start), end: f(end) } }];"
      },
      "id": "code-charts",
      "name": "Build the week range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "resp-charts",
      "name": "Respond with charts",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        440
      ]
    },
    {
      "parameters": {},
      "id": "trig-backfill",
      "name": "Backfill: click Test once",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sweep 400 days of AzuraCast's own song history in 10-day chunks \u2014\n// the records run back over a year; take all of it for the lifetime index.\nconst out = [];\nconst day = 86400000;\nconst now = Date.now();\nfor (let back = 400; back > 0; back -= 10) {\n  const s = new Date(now - back * day), e = new Date(now - Math.max(0, back - 10) * day);\n  const f = (x) => x.toISOString().slice(0, 10);\n  out.push({ json: { start: f(s), end: f(e) } });\n}\nreturn out;"
      },
      "id": "code-plan",
      "name": "Plan the sweep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        660
      ]
    },
    {
      "parameters": {
        "url": "=https://streaming.mellowmountainradio.com/api/station/mellowmountainradio/history?start={{ $json.start }}&end={{ $json.end }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "PASTE-YOUR-AZURACAST-API-KEY"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-history",
      "name": "Pull AzuraCast history",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the lifetime index from the whole sweep: spin counts and TRUE\n// first-play dates for every song the station has records of.\nconst sd = $getWorkflowStaticData('global');\nsd.all = sd.all || {};\nif (sd.backfillDone) {\n  return [{ json: { note: 'sweep already ran \u2014 counts preserved' } }];\n}\nconst rows = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  if (Array.isArray(j)) rows.push(...j);\n  else if (j && j.played_at) rows.push(j);\n  else if (j && Array.isArray(j.data)) rows.push(...j.data);\n}\nrows.sort((a, b) => (a.played_at || 0) - (b.played_at || 0));\nlet counted = 0;\nfor (const r of rows) {\n  const song = r.song || {};\n  const ti = String(song.title || '').trim().slice(0, 140);\n  const ar = String(song.artist || '').trim().slice(0, 140);\n  if (!ti || ti.toLowerCase() === 'mellow mountain radio' || !r.played_at) continue;\n  const key = (ti + '|' + ar).toLowerCase();\n  const ts = new Date(r.played_at * 1000);\n  const iso = ts.toISOString();\n  const phx = new Date(ts.toLocaleString('en-US', { timeZone: 'America/Phoenix' }));\n  const dkey = phx.getFullYear() + '-' + String(phx.getMonth() + 1).padStart(2, '0') + '-' + String(phx.getDate()).padStart(2, '0');\n  const rec = sd.all[key] || { ti, ar, n: 0, first: iso };\n  rec.n++; counted++;\n  if (iso < rec.first) rec.first = iso;\n  if (!rec.last || iso > rec.last) rec.last = iso;\n  const art = song.art && String(song.art).indexOf('http') === 0 ? String(song.art).slice(0, 300) : '';\n  if (art) rec.art = art;\n  sd.all[key] = rec;\n  if (!sd.since || dkey < sd.since) sd.since = dkey;\n}\nsd.backfillDone = true;\nreturn [{ json: { lifetimeCounted: counted, songsKnown: Object.keys(sd.all).length, since: sd.since || null } }];"
      },
      "id": "code-merge",
      "name": "Merge into the log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        660
      ]
    },
    {
      "parameters": {
        "url": "=https://streaming.mellowmountainradio.com/api/station/mellowmountainradio/history?start={{ $json.start }}&end={{ $json.end }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "PASTE-YOUR-AZURACAST-API-KEY"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-day",
      "name": "Pull that day from AzuraCast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "// Shape the station's own records into the time machine's day view.\nconst sd = $getWorkflowStaticData('global');\nconst meta = $('Build the day range').first().json;\nconst rows = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  if (Array.isArray(j)) rows.push(...j);\n  else if (j && j.played_at) rows.push(j);\n  else if (j && Array.isArray(j.data)) rows.push(...j.data);\n}\nconst plays = [];\nfor (const r of rows) {\n  const song = r.song || {};\n  const ti = String(song.title || '').trim().slice(0, 140);\n  const ar = String(song.artist || '').trim().slice(0, 140);\n  if (!ti || ti.toLowerCase() === 'mellow mountain radio' || !r.played_at) continue;\n  const phx = new Date(new Date(r.played_at * 1000).toLocaleString('en-US', { timeZone: 'America/Phoenix' }));\n  const dkey = phx.getFullYear() + '-' + String(phx.getMonth() + 1).padStart(2, '0') + '-' + String(phx.getDate()).padStart(2, '0');\n  if (dkey !== meta.day) continue;\n  const t = String(phx.getHours()).padStart(2, '0') + ':' + String(phx.getMinutes()).padStart(2, '0');\n  plays.push({ t, ti, ar });\n}\nplays.sort((a, b) => (a.t < b.t ? -1 : 1));\nreturn [{ json: { ok: true, day: meta.day, today: meta.today, since: sd.since || null, plays } }];"
      },
      "id": "code-shapeday",
      "name": "Shape the day",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        220
      ]
    },
    {
      "parameters": {
        "url": "=https://streaming.mellowmountainradio.com/api/station/mellowmountainradio/history?start={{ $json.start }}&end={{ $json.end }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "PASTE-YOUR-AZURACAST-API-KEY"
            }
          ]
        },
        "options": {
          "timeout": 45000
        }
      },
      "id": "http-week",
      "name": "Pull the week from AzuraCast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Spin charts from the station's own records \u2014 and only the MUSIC:\n// the artist allowlist is the real MegaSeg library export, so spots,\n// station IDs and news never chart. Never seeded, never padded.\nconst sd = $getWorkflowStaticData('global');\nsd.all = sd.all || {};\nconst LIB = new Set([\"10cc\",\"ace\",\"airplay\",\"al green\",\"al jarreau\",\"al stewart\",\"al wilson\",\"alan parsons project\",\"alive 'n kickin'\",\"allman brothers band\",\"ambrosia\",\"america\",\"andrew gold\",\"anita baker\",\"ann peebles\",\"argent\",\"atlanta rhythm section\",\"band\",\"beach boys\",\"bee gees\",\"bellamy brothers\",\"bertie higgins\",\"bill champlin, joseph williams & peter friestedt\",\"bill withers\",\"billy joel\",\"billy ocean\",\"billy preston\",\"blondie\",\"blue \\u00f6yster cult\",\"bob marley & the wailers\",\"bob seger & the silver bullet band\",\"bob welch\",\"bobby caldwell\",\"box tops\",\"boz scaggs\",\"bread\",\"brothers johnson\",\"bruce hornsby & the range\",\"buffalo springfield\",\"captain & tennille\",\"carly simon\",\"carpenters\",\"champaign\",\"cheryl lynn\",\"chicago\",\"chris norman & suzi quatro\",\"christopher cross\",\"chuck mangione\",\"climax blues band\",\"commodores\",\"cream\",\"creedence clearwater revival\",\"crosby, stills & nash\",\"crosby, stills, nash & young\",\"daryl hall & john oates\",\"dave mason\",\"david mccallum\",\"debarge\",\"deele\",\"deep purple\",\"diana ross\",\"dionne warwick\",\"dire straits\",\"dobie gray\",\"dolly parton\",\"don henley\",\"donald fagen\",\"donna summer\",\"doobie brothers\",\"doors\",\"double\",\"dr. hook\",\"dr. john\",\"dr. lonnie smith, george benson, joe lovano & ron carter\",\"dramatics\",\"dusty springfield\",\"eagles\",\"earth, wind & fire\",\"eddie money\",\"edgar winter group\",\"edwin starr\",\"electric light orchestra\",\"elton john\",\"elvin bishop\",\"eric burdon & war\",\"eye to eye\",\"firefall\",\"five man electrical band\",\"fleetwood mac\",\"floaters\",\"foghat\",\"foreigner\",\"frankie beverly & maze\",\"free\",\"gap band\",\"gary wright\",\"george benson\",\"george harrison\",\"george michael\",\"gerry rafferty\",\"gino vannelli\",\"glen campbell\",\"glenn frey\",\"gordon lightfoot\",\"grand funk railroad\",\"grateful dead\",\"grover washington, jr.\",\"guess who\",\"harold melvin & the blue notes\",\"harry nilsson\",\"heatwave\",\"herb alpert\",\"herb alpert & the tijuana brass\",\"herbie hancock\",\"hiroshi suzuki\",\"huey lewis & the news\",\"intruders\",\"isley brothers\",\"j.j. cale\",\"jackson browne\",\"james gang\",\"james ingram\",\"james taylor\",\"jay & the americans\",\"jay ferguson\",\"jefferson airplane\",\"jennifer warnes\",\"jim croce\",\"jimi hendrix experience\",\"jimmi hendrix\",\"jimmy buffett\",\"joe cocker\",\"joe walsh\",\"johnny cash\",\"johnny nash\",\"jones girls\",\"journey\",\"kansas\",\"kenny loggins\",\"kenny rogers\",\"king harvest\",\"kool & the gang\",\"larsen-feiten band\",\"led zeppelin\",\"lee michaels\",\"lee ritenour\",\"leo sayer\",\"leon haywood\",\"leon ware\",\"level 42\",\"linda ronstadt\",\"lionel richie\",\"little river band\",\"loggins & messina\",\"lonnie liston smith & the cosmic echoes\",\"looking glass\",\"lou rawls\",\"lovin' spoonful\",\"luther vandross\",\"lynyrd skynyrd\",\"malo\",\"manhattans\",\"marshall tucker band\",\"marty balin\",\"matthew wilder\",\"maxus\",\"mccoys\",\"michael jackson\",\"michael martin murphey\",\"michael mcdonald\",\"mountain\",\"mr. mister\",\"mungo jerry\",\"nicolette larson\",\"norman greenbaum\",\"o'jays\",\"olivia newton-john\",\"orleans\",\"ozark mountain daredevils\",\"pablo cruise\",\"patrice rushen\",\"paul davis\",\"paul mccartney & wings\",\"paul simon\",\"pete townshend\",\"peter cetera & amy grant\",\"phil collins\",\"philip bailey & phil collins\",\"pilot\",\"pink floyd\",\"player\",\"poco\",\"prince\",\"pure prairie league\",\"quincy jones\",\"reo speedwagon\",\"rickie lee jones\",\"robbie dupree\",\"robert palmer\",\"rod stewart\",\"roy ayers ubiquity\",\"rupert holmes\",\"sade\",\"sanford townsend band\",\"seals & crofts\",\"simply red\",\"sly & the family stone\",\"spinners\",\"stampeders\",\"starbuck\",\"starland vocal band\",\"stealers wheel\",\"steely dan\",\"steely dan & tom scott\",\"steppenwolf\",\"steve miller band\",\"steve perry\",\"stevie nicks\",\"stevie nicks & don henley\",\"stevie wonder\",\"stevie woods\",\"stylistics\",\"sugarloaf\",\"supertramp\",\"temptations\",\"three dog night\",\"tina turner\",\"todd rundgren\",\"tom scott\",\"tommy james\",\"tommy james & the shondells\",\"toto\",\"traffic\",\"traveling wilburys\",\"utopia\",\"van morrison\",\"vicki lawrence\",\"vince dicola\",\"walter egan\",\"war\",\"warren zevon\",\"waters\",\"wings\",\"young rascals\",\"zombies\",\"zz top & john lee hooker\"]);\nconst norm = (s) => String(s || '').trim().toLowerCase().replace(/^the\\s+/, '');\nconst isMusic = (ar) => {\n  const a = norm(ar);\n  if (!a) return false;\n  if (LIB.has(a)) return true;\n  const parts = a.split(/\\s*(?:&|and|with|feat\\.?|featuring)\\s*/);\n  return parts.length > 1 && parts.every(p => p && LIB.has(norm(p)));\n};\nconst rows = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  if (Array.isArray(j)) rows.push(...j);\n  else if (j && j.played_at) rows.push(j);\n  else if (j && Array.isArray(j.data)) rows.push(...j.data);\n}\nconst tally = {}, artists = {};\nlet spins = 0;\nfor (const r of rows) {\n  const song = r.song || {};\n  const ti = String(song.title || '').trim().slice(0, 140);\n  const ar = String(song.artist || '').trim().slice(0, 140);\n  if (!ti || !r.played_at || !isMusic(ar)) continue;\n  spins++;\n  const key = (ti + '|' + ar).toLowerCase();\n  const e = tally[key] || { ti, ar, n: 0 };\n  e.n++; tally[key] = e;\n  const ak = ar.toLowerCase();\n  artists[ak] = artists[ak] || { ar, n: 0 };\n  artists[ak].n++;\n}\nconst top = Object.values(tally).sort((a, b) => b.n - a.n).slice(0, 12);\nconst topArtists = Object.values(artists).sort((a, b) => b.n - a.n).slice(0, 10);\nconst cutoff = Date.now() - 30 * 86400000;\nconst debuts = Object.values(sd.all)\n  .filter(r => r.first && Date.parse(r.first) >= cutoff && isMusic(r.ar))\n  .sort((a, b) => (a.first < b.first ? 1 : -1))\n  .slice(0, 12)\n  .map(r => ({ ti: r.ti, ar: r.ar, first: r.first, n: r.n }));\nreturn [{ json: { ok: true, since: sd.since || null, window: { days: 7 }, spins, uniques: Object.keys(tally).length, top, topArtists, debuts } }];"
      },
      "id": "code-computecharts",
      "name": "Compute the charts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        440
      ]
    }
  ],
  "connections": {
    "Every 30 seconds": {
      "main": [
        [
          {
            "node": "Ask what's on air",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask what's on air": {
      "main": [
        [
          {
            "node": "Log the spin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site asks for a day": {
      "main": [
        [
          {
            "node": "Build the day range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site asks for charts": {
      "main": [
        [
          {
            "node": "Build the week range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute the charts": {
      "main": [
        [
          {
            "node": "Respond with charts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backfill: click Test once": {
      "main": [
        [
          {
            "node": "Plan the sweep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan the sweep": {
      "main": [
        [
          {
            "node": "Pull AzuraCast history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull AzuraCast history": {
      "main": [
        [
          {
            "node": "Merge into the log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build the day range": {
      "main": [
        [
          {
            "node": "Pull that day from AzuraCast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull that day from AzuraCast": {
      "main": [
        [
          {
            "node": "Shape the day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape the day": {
      "main": [
        [
          {
            "node": "Respond with the day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build the week range": {
      "main": [
        [
          {
            "node": "Pull the week from AzuraCast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull the week from AzuraCast": {
      "main": [
        [
          {
            "node": "Compute the charts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}