studio-bridge/n8n-kazm-aircraft.json
{
  "name": "KAZM Aircraft Proxy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "kazm-aircraft",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://mellowmountainradio.com"
        }
      },
      "id": "wh-aircraft",
      "name": "Site asks for traffic",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "kazm-aircraft"
    },
    {
      "parameters": {
        "jsCode": "// Sedona by default; clamp radius so nobody can turn this into an open proxy for the whole sky.\nconst q = $input.first().json.query || {};\nconst lat = Number(q.lat) || 34.8697;\nconst lon = Number(q.lon) || -111.7610;\nlet radius = Number(q.radius) || 45;\nradius = Math.max(10, Math.min(radius, 100));\nreturn [{ json: { lat, lon, radius } }];"
      },
      "id": "code-query",
      "name": "Read the query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "=https://api.adsb.lol/v2/point/{{ $json.lat }}/{{ $json.lon }}/{{ $json.radius }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "http-adsb",
      "name": "Ask adsb.lol",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Trim to exactly what the site's aircraft.js needs. If adsb.lol is down\n// or the shape changes, we return an empty list — never invented traffic.\nconst d = $input.first().json || {};\nconst list = Array.isArray(d.ac) ? d.ac : [];\nconst aircraft = list\n  .filter((a) => a && a.dir != null && a.alt_baro != null && a.alt_baro !== 'ground')\n  .slice(0, 6)\n  .map((a) => ({\n    flight: (a.flight || '').trim(),\n    dir: a.dir,\n    dst: a.dst || 0,\n    alt_baro: a.alt_baro,\n    track: a.track != null ? a.track : a.dir,\n  }));\nreturn [{ json: { ok: true, aircraft } }];"
      },
      "id": "code-shape",
      "name": "Shape the traffic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "resp-aircraft",
      "name": "Respond with traffic",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Site asks for traffic": { "main": [[{ "node": "Read the query", "type": "main", "index": 0 }]] },
    "Read the query": { "main": [[{ "node": "Ask adsb.lol", "type": "main", "index": 0 }]] },
    "Ask adsb.lol": { "main": [[{ "node": "Shape the traffic", "type": "main", "index": 0 }]] },
    "Shape the traffic": { "main": [[{ "node": "Respond with traffic", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
