studio-bridge/n8n-kazm-request-line.json
{
  "name": "KAZM Song Requests",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kazm-request-line",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://mellowmountainradio.com"
        }
      },
      "id": "wh-submit",
      "name": "Listener submits request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "kazm-request-line"
    },
    {
      "parameters": {
        "jsCode": "// Queue lives in workflow static data \u2014 no credentials, no database needed.\nconst store = $getWorkflowStaticData('global');\nstore.queue = store.queue || [];\nstore.recent = store.recent || [];\nconst b = $input.first().json.body || {};\nif (b.probe === true) {\n  // the site pings this before showing the request section \u2014 answer, queue nothing\n  return [{ json: { success: true, probe: true, board: true } }];\n}\nconst title = String(b.title || '').trim().slice(0, 120);\nconst artist = String(b.artist || '').trim().slice(0, 120);\nconst name = String(b.name || '').trim().slice(0, 60);\nconst note = String(b.note || '').trim().slice(0, 140);\nif (!title) {\n  return [{ json: { success: false, message: 'Tell us the song \u2014 a title is the one thing we need.' } }];\n}\nif (store.queue.length >= 50) {\n  return [{ json: { success: false, message: 'The request box is full \u2014 give it a little while and try again.' } }];\n}\nconst entry = { title, artist, name, note, at: new Date().toISOString() };\nstore.queue.push(entry);\nstore.recent.unshift(entry);\nstore.recent = store.recent.slice(0, 12);\nreturn [{ json: { success: true, message: 'Request received \u2014 the studio reads every one.' } }];"
      },
      "id": "code-submit",
      "name": "Validate + queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "resp-submit",
      "name": "Respond to listener",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "kazm-request-drain",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-drain",
      "name": "Mac Studio polls queue",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        220
      ],
      "webhookId": "kazm-request-drain"
    },
    {
      "parameters": {
        "jsCode": "// Drains the queue for the studio poller. Set your own secret below\n// (and put the same value in macstudio-poller.sh) before activating.\nconst SECRET = 'CHANGE-ME-BEFORE-ACTIVATING';\nconst store = $getWorkflowStaticData('global');\nconst key = ($input.first().json.query || {}).key;\nif (key !== SECRET || SECRET === 'CHANGE-ME-BEFORE-ACTIVATING') {\n  return [{ json: { error: 'unauthorized' } }];\n}\nconst out = store.queue || [];\nstore.queue = [];\nreturn [{ json: { requests: out } }];"
      },
      "id": "code-drain",
      "name": "Check key + drain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "resp-drain",
      "name": "Respond to poller",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        220
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "kazm-request-board",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://mellowmountainradio.com"
        }
      },
      "id": "wh-board",
      "name": "Jukebox wall (public)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        440
      ],
      "webhookId": "kazm-request-board"
    },
    {
      "parameters": {
        "jsCode": "// Public, read-only: the last dozen requests for the site's jukebox wall.\nconst store = $getWorkflowStaticData('global');\nconst out = (store.recent || []).map(r => ({ title: r.title, artist: r.artist, name: r.name, note: r.note, at: r.at }));\nreturn [{ json: { requests: out } }];"
      },
      "id": "code-board",
      "name": "Read the wall",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "resp-board",
      "name": "Respond with wall",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        440
      ]
    }
  ],
  "connections": {
    "Listener submits request": {
      "main": [
        [
          {
            "node": "Validate + queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate + queue": {
      "main": [
        [
          {
            "node": "Respond to listener",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mac Studio polls queue": {
      "main": [
        [
          {
            "node": "Check key + drain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check key + drain": {
      "main": [
        [
          {
            "node": "Respond to poller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jukebox wall (public)": {
      "main": [
        [
          {
            "node": "Read the wall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read the wall": {
      "main": [
        [
          {
            "node": "Respond with wall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}